/* Navbar */
nav ul {
    display: flex;
    justify-content: space-around;
  }
  
  nav ul li {
    padding: 10px;
  }
  
  .sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
    border-bottom: 1px solid #555;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: 20px;
  }
  